.navbar-brand {
    display: flex;
    color: #006bdb;
    font-style: initial;
    font-size: 100%;
    font-weight: bold;
    align-items: center;
}

footer {
    position: fixed;
    background-color: #463934;
    width: 100%;
    color: white;
    text-align: right;
    padding: 5px;
    text-justify: auto;
    bottom: 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgLogo {
    width: 5%;
    margin-right: 5%;
}