.navbar-brand{
    display: flex;
    color: white;
    font-size: 100%;
    align-items: center;

}

.container-fluid{
display: flex;
justify-content: space-between;
align-items: center;
}

.imgLogo{
    width: 5%;
    margin-right: 5%;
}