<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <div style="display: flex; align-items: center;">
                <img class="logoNav" src="../../../assets/logoCompleted.png" alt="">
            </div>
        </a> 
        <a class="navbar-brand" routerLink="" *ngIf="userLogged|async as user; else then_content">  
            <div style="display: flex; align-items: center;" *ngIf="user.displayName">
                <a class="borderLog" routerLink="">
                    <img class="picLog" src="{{user.photoURL}}" alt="">                    
                </a>
                <div >
                    <a class="navbar-brand" routerLink=""> {{user.displayName?user.displayName:user.email}} </a> 
                </div>
            </div>
            <div style="display: inline-flex; align-items: center;" *ngIf="!user.displayName">
                <a class="borderLog" routerLink="">
                    <img class="picLog" src="../../../assets/picUser.jpeg" alt="">                    
                </a>
                <div >
                    <a class="navbar-brand" routerLink=""> {{user.email}} </a>
                </div>
            </div>
        </a>        
        <ng-template #then_content>
            <a class="navbar-brand" routerLink="login" >  
                Iniciar Sesión
            </a>
        </ng-template>  
    </div>
</nav>