<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <div style="display: flex; align-items: center;">
                <img class="logoNav" src="../../../assets/logoCompleted.png" alt="">
            </div>
        </a>
        <div style="display: inline-flex; align-items: center; " *ngIf="userLogged|async as user;">
            Panel de control
        </div>
        <div style="display: inline-flex; align-items: center;">
            Panel de control
        </div>
        <a class="navbar-brand" routerLink="home" *ngIf="userLogged|async as user; else then_content">
            <div style="display: flex; align-items: center;" *ngIf="user.displayName">
                <a class="borderLog" routerLink="home">
                    <img class="picLog" src="{{user.photoURL}}" *ngIf="user.photoURL" alt="">
                    <img class="picLog" src="../../../assets/picUser.jpeg" *ngIf="!user.photoURL" alt="">
                </a>
                <div>
                    <a class="navbar-brand" routerLink="home"> {{user.displayName?user.displayName:user.email}} </a>
                </div>
            </div>
            <div style="display: inline-flex; align-items: center;" *ngIf="!user.displayName">
                <a class="borderLog" routerLink="panel">
                    <img class="picLog" src="../../../assets/picUser.jpeg" *ngIf="!user.photoURL" alt="">
                </a>
                <div>
                    <a class="navbar-brand" routerLink="home"> {{user.email}} </a>
                </div>
            </div>
        </a>
        <ng-template #then_content>
            <a class="navbar-brand" routerLink="login">
                Iniciar Sesión
            </a>
        </ng-template>
    </div>
</nav>