<button class="btn btn-outline-secondary" (click)="changeStyle()">Cambiar Estilo</button>
<button *ngIf="!isCard" class="btn btn-outline-secondary" (click)="downloadUsers()">Descargar Plantilla</button>
<table *ngIf="!isCard" class="table" id="users-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Obra Social</th>
            <th scope="col">DNI</th>
        </tr>
    </thead>
    <tbody>
        <tr appButtonSensitive *ngFor="let user of users; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.socialWork }}</td>
            <td>{{ user.dni }}</td>
        </tr>
    </tbody>
</table>
<div class="menu" *ngIf="isCard">
    <div class="row" *ngFor="let user of users; index as i">
        <div class="column" (click)="downloadTurns(user)">
            <div class="card" appButtonSensitive style="width: 18rem;">
                <img class="card-img-top" src="{{user.photoURL}}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <p class="card-text">{{user.role}}</p>
                </div>
            </div>
        </div>
    </div>
</div>