.day {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

.btn {
    width: 100%;
    justify-content: center;
    align-items: center;
}