<app-selecto-button [listParent]="specialtys" [className]="specialityName" (itemSelected)="selector($event)">
</app-selecto-button>
<br>

<div *ngIf="specialtySelected">
    <app-selecto-button [listParent]="specialist" [className]="specialistName" (itemSelected)="selectorSpe($event)">
    </app-selecto-button>
</div>
<br>

<app-turns [listTurn]="availableTurn" [listDays]="days" (daySelected)="selectorDay($event)" (itemSelected)="selectorTurn($event)">
</app-turns>
<br>

<button class="btn btn-outline-success" (click)="addTurn()">Sacar Turno</button>

<!-- <button (click)="buttonTest()">PROBAR DIAS</button> -->

<!-- <div *ngIf="specialistSelected"> -->
<!-- <div>
    <app-selecto-button [listParent]="turns" [className]="turnsName">
    </app-selecto-button>
</div>
<br> -->