<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <b>INICIAR SESIÓN</b>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="card-body p-4">
                <app-error *ngIf="errorShow" mensaje="{{errorMessage}}" color="alert-danger"></app-error>

                <div class="form-group">
                    <label style="float: left">Email</label>
                    <input class="form-control" formControlName="email" type="email" placeholder="Ingrese su email" [(ngModel)]="usuario.email" required>
                    <div class="errorMessage" *ngIf="getValue('email')?.invalid && (getValue('email').touched || getValue('email').dirty)">Ingrese un mail válido</div>

                </div><br>

                <div class="form-group">
                    <label style="float: left">Password</label>
                    <input autocomplete="new-password"
                    #password class="form-control" formControlName="password" type="password" placeholder="Ingrese su password"
                    [(ngModel)]="usuario.password" required>
                <div class="errorMessage" *ngIf="getValue('password')?.invalid && (getValue('password').touched || getValue('password').dirty)">Mínimo 6 caracteres</div>
                </div>
                <button class="btn btn-primary form-control" type="submit" (click)="ingresar()" [disabled]="!form.valid">Ingresar</button>
                <button class="btn btn-danger form-control" (click)="ingresarConGoogle()">Ingresar con Google</button>
                <button class="btn btn-success form-control" (click)="autoLogin()">Auto-Completar Ingreso</button>
                <label class="register">¿Todavia no tenés tu cuenta? <a routerLink="/register">Registrate</a></label>
            </div>
        </form>
        </div>
    </div>