<div class="btn-group btn-group-sm m-1" *ngFor="let item of listDays; index as i">
    <input type="radio" class="btn-check" name="btnradioDay" id="{{item.day}}" (click)="selectorDay(item)"
        autocomplete="off">
    <label class="btn btn-outline-primary" for="{{item.day}}">{{ item | dayFormat }}</label>
</div>
<br>
<div class="btn-group btn-group-sm m-1" *ngFor="let itemT of listTurn | tunsListDay: dayPipe; index as i">
    <input type="radio" class="btn-check" name="btnradioHour" id="{{itemT.name}}" (click)="selector(itemT)"
        autocomplete="off">
    <label class="btn btn-outline-primary" for="{{itemT.name}}">{{ itemT | tunsHour }}</label>
</div>