@import '~bootstrap/scss/bootstrap';

html,
body {
  //background: url(assets/EMU_Patterns-background_02.jpg);
  background-size: auto;
  background-position: absolute;
  width: 100%;
  color: #006bdb;
  background: linear-gradient(to left, #00a9e2, #006bdb);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.picLog {
  display: flex;
  border-radius: 100%;
  width: 30px;
  margin-right: 7px;
  border-color: #006bdb;
  border-width: 2px;
  border-style: solid;
}

footer {
  position: fixed;
  background-color: #212529;
  width: 100%;
  color: white;
  text-align: right;
  padding: 5px;
  text-justify: auto;
  bottom: 0;
}

.errorMessage {
  color: rgb(255, 0, 0);
  text-align: left;
  margin-left: 10px;
  font-style: italic;
  font-size: small;
}

.btn {
  margin-top: 10px;
}

.register {
  margin-top: 10px;
}

.img {
  width: 100%;
  height: 100%;
}

* {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Dongle', sans-serif;
}

.btnHangman {
  border-radius: 4px;
  min-width: 36px;
  min-height: 36px;
  background-color: #f5216e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  &:hover {
    &:not(.btn--disabled) {
      opacity: 0.7;
    }
  }

  &--disabled {
    background-color: #dcdcdc;
    cursor: default;
  }
}